@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$greydark:#4d4d4d;
$greylight:#808080;
$golddark:#FFD700;
$goldlight:#FFDF00	;

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    color:white;
}
section{
    min-height: 800px;
    background: url("/images/thumb-1920-201750.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.menu {
    min-height: 100px;
    img{
        max-width: 275px;
    }
    .navbar-toggler{
        background-color: white;
    }
    #navbarSupportedContent 
    {
        
        ul.navbar-nav{
            width: 100%;
            margin-right: 50px;
            
            li.nav-item{
                a.nav-link{ 
                    color:white;
                    &:hover{
                        color: $black;
                        border-width:  0 0 2px 0;  
                        border-style: solid;
                        border-color: $goldlight;
                    }
                    span{
                        margin-left: 10px;
                    }
                    
                }
                a.active{
                    border-width: 0 0 2px 0;
                    border-style: solid;
                    border-color: black;
                    color: $golddark;
                    
                }
            }
        }
    }
}

.icons-social{
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }   
    .fb{
        background-color: rgb(59, 89, 152) !important;
        color:white;      
        padding: 5px;
        border-radius: 50%;
    }
    .twitter{
        background-color:rgb(85, 172, 238) !important;
        color:white;        padding: 5px; 
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    .instagram{
        background-color: rgb(197, 54, 164) !important;
        color:white;
        padding: 5px;
        border-radius: 50%;
    }
}

.home{
    color:white;
    h1{
        margin:50px 0 0;
    }
    h2{
        margin :215px 0 0;
    }
}
.search{
    .containerSearch{
        margin-right: 50px;
        input{
            background-color: #808080;
            color:$goldlight;
            input{
                &:focus{
                    background-color: #808080;
                    color:$goldlight;
                }
                ::placeholder {
                    color: $goldlight;
                }
            }   
        }
    }
}
.authentication{
    color:white;
    font-size: 50px;
    form{
        margin:50px 0 0;
    }
}


.register{
    color:white;
    font-size: 50px;
    form{
        margin:50px 0 0;
    }
    input{
        align-items: right;
    }
}


// BORDER
.border-grey-light{
    border-color: $greylight;
}

.border-gold-dark{
    border-color: $golddark;
}
.border-gold-light{
    border-color: $goldlight;
}
.border-grey-dark{
    border-color: $greydark;
}
//BACKGROUND
.bg-gold-light{
    background-color:$goldlight;
}
.bg-gold-dark{
    background-color:$golddark;
}

.bg-grey-light {
    background-color: $greylight;
}
.bg-grey-dark {
    background-color: $greydark;
}
//COLOR
.color-grey-light{
    color:$greylight;
}
.color-gold-light{
    color:$goldlight;
}
.color-gold-dark{
    color:$golddark;
}


.color-grey-dark{
    color:$greydark;
}
//BTN 
.btn-gold-light{
    color: $goldlight;
    background-color: $greydark;
    border-color: $goldlight;
    font-weight: 400;
    line-height: 1.5;
    &:hover{
        color: $greydark;
        background-color: $goldlight;
        border-color: $greydark;
        font-weight: 400;
        line-height: 1.5;
    }
    span{
        margin: 0 10px;
    }
}
.btn-grey-light{
    color: $greydark;
    background-color: $goldlight ;
    border-color: $greydark;
    &:hover{
        color: $goldlight ;
        background-color:$greydark;
        border-color:$goldlight;
    }   
    span{
        margin: 0 10px;
    }
}


// INPUT 
.input-gold-light{
    color: $greydark;
    background-color:$goldlight;
    &:focus{
        color: $goldlight ;
        background-color: $greydark;
        border-color:$goldlight ;
    }


}



.input-grey-light{
    color: $goldlight;
    background-color:$greydark;
    border-color:$goldlight;

    ::placeholder{
        color: $goldlight;
    }
    &:checked{
        color: $goldlight;
        background-color:$goldlight;
    }
    &:focus{
        color: $greydark ;
        background-color: $goldlight ;
        border-color:$greydark ;
    }
}


// TEXT
.text-gold-light{
    color: $goldlight;
    background-color:$greydark;
}
.text-grey-light{
    color: $greydark ;
    background-color:$goldlight;
    
}

//
.action-round{
    margin: 20px 0;
} 



.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  