@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'nicepage.scss';
.leaflet-container{
    min-height: 100vh;
}
.u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #4d4d4d !important;
    }

    .bg-grey {
        background-color: #4d4d4d !important;
    }